*{
margin: 0;
 padding: 0;
}
body{
    background-color: yellow;
    margin: 5rem;
}
.content{
    margin-left: 15%;
    background-color: hsl(0, 0%, 100%);
    color: black;
    padding-left: 2%;
    border-radius: 2rem;
    border-right-color: black;
    border-style: solid;
    border-right-width: 1rem;
    border-bottom-width: 1rem;
    width: 45%;
}
.image{
    width: 95%;
    margin-top: 2rem;
    border: 2rem;
    border-radius: 2rem;
}
button{
    margin-top: 2rem;
    background-color: rgb(236, 236, 18);
    width: 10rem;
    height: 3.5rem;
    font-size: 16px;
    font-weight: 500;
    border-color: rgb(236, 236, 18);
}
.text{
    font-size: 30px;
}
.mee{
    
    width: 100px;
    height: 70px;
    border-radius: 3rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    
}
.me{
    display: flex;
    margin-top: 5rem;
}
@media (max-width: 600px){
    .content{
        margin: 2%;
         margin-left: 2%;
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 2rem;
    border-right-color: black;
    border-style: solid;
    border-right-width: 1rem;
    border-bottom-width: 1rem;
    width: 100%;
    }
    button{
    margin-top: 15px;
    background-color: rgb(236, 236, 18);
    width: 70px;
    height: 20px;
    font-size: 10px;
    font-weight: 100;
    border-color: rgb(236, 236, 18);
    
}
.text{
    font-size: 20px;
}
h3{
    font-size: 22px;
}
h1{
    font-size: 25x;
}
.me{
    display: flex;
    margin-top: 5px;
}
